.scrollmenu {
    overflow-x: auto;
    display: flex;
    white-space: nowrap;
    scrollbar-width: none;
    margin-bottom: 10px;
  }
  
/* .scrollmenu::-webkit-scrollbar{
    height: 15px;
} */

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}

.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}

.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}

.account-settings .about p {
    font-size: 0.825rem;
}

.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.border-light-grey {
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}

.no-border {
    border-style: hidden;
}

.blue-background {
    background-color: #d1f6ff;
}

.warning-gradient-90-card{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(224,185,111,1) 100%);
}

.green-success-background {
    background-color: #00d111;
}

.grey-background{
    background-color: #f5f5f5;
}

.red-ditolak-card-background{
    background-color: #ff9999;
}

.gradient-red-white-background{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,25,0,1) 44%, rgba(246,87,69,1) 66%, rgba(255,255,255,1) 100%);
}

no-background-button{
    background: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.btn-success-custom {
    color: #fff;
    background-color: #009600;
    border-color: #009600;
}

.btn-success-custom:hover {
    color: #fff;
    background-color: #007800;
    border-color: #007800;
}

.btn-success-custom:focus, .btn-success-custom.focus {
    color: #fff;
    background-color: #009600;
    border-color: #009600;
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-success-custom.disabled, .btn-success-custom:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success-custom:not(:disabled):not(.disabled):active, .btn-success-custom:not(:disabled):not(.disabled).active,
.show > .btn-success-custom.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
}

.btn-success-custom:not(:disabled):not(.disabled):active:focus, .btn-success-custom:not(:disabled):not(.disabled).active:focus,
.show > .btn-success-custom.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
